{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}
{% block slider %}
    
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<section>
			<div class="row">
				<div class="col-sm-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between p-md-1">
								<div class="d-flex flex-row">
									<div class="align-self-center">
										<i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
									</div>
									<div>
										<h4> {% trans %}Mes plaintes{% endtrans %}</h4>
									</div>
								</div>
								<div class="align-self-center">
									<h2 class="h1 mb-0">18,000</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between p-md-1">
								<div class="d-flex flex-row">
									<div class="align-self-center">
										<i class="far fa-comment-alt text-warning fa-3x me-4"></i>
									</div>
									<div>
										<h4>Total Comments</h4>
									</div>
								</div>
								<div class="align-self-center">
									<h2 class="h1 mb-0">84,695</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</section>
	</div>
{% endblock %}
