<header>
	<!-- Navbar -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-white">
		<!-- Container wrapper -->
		<div
			class="container-fluid">
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Collapsible wrapper -->
			<div
				class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
				<!-- Left links -->
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{% trans %}Region{% endtrans %}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{% trans %}Compagnie{% endtrans %}
						</a>
					</li>

					<!-- Navbar dropdown -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
							{% trans %}Language{% endtrans %}
						</a>
						<!-- Dropdown menu -->
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item" href="#">Francais</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">English</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- Left links -->
			</div>
			<!-- Collapsible wrapper -->
			<div class="navbar-nav mb-2 mb-lg-0" id="navbarCenteredExample">
				<a class="nav-item nav-link" href="#">Profil</a>
			</div>
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
</header>
