<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Hello{% endblock %}</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="/mdb/css/mdb.min.css" />
  </head>
  <body>
  {% block header %}
  {% include "inclusion/header.html.twig" %}
  {% endblock %}
  {% block slider %}
    <!-- Jumbotron -->
	<div class="p-5 text-center bg-light">
		<h1 class="mb-3">Heading</h1>
		<h4 class="mb-3">Subheading</h4>
		<a class="btn btn-primary" href="" role="button">Call to action</a>
	</div>
	<!-- Jumbotron -->
  {% endblock %}
    {% block body %}{% endblock %}
    <!-- MDB -->
    <script type="text/javascript" src="/mdb/js/mdb.min.js"></script>
  </body>
</html>
